@page "/"

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>


<main>
    @foreach (var item in todo)
    {
        <article>
            <div>
                <label>
                    Done
                    <input type="checkbox" @bind="item.IsDone" />
                </label>
            </div>
            <h2>@item.Title</h2>
            <p>@item.Description</p>
        </article>
    }
</main>

<form @onsubmit="AddTodoItem" @onsubmit:preventDefault>
    <input placeholder="Title" @bind="newTodoTitle" />
    <input placeholder="Description" @bind="newTodoDescription" />
    <button type="submit" @onclick="AddTodoItem">Add</button>
</form>

@code {
    private List<TodoItem> todo = new();
    private string? newTodoTitle;
    private string? newTodoDescription;

    private void AddTodoItem()
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todo.Add(new TodoItem
                {
                    Title = newTodoTitle,
                    Description = newTodoDescription
                });
            newTodoTitle = string.Empty;
            newTodoDescription = string.Empty;
        }
    }
}
