@page "/"

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>

<ul>
    @foreach (var item in todo)
    {
        <li>@item.Title</li>
    }
</ul>

<input placeholder="Add todo" @bind="newTodoTitle" />
<button @onclick="AddTodoItem">Add</button>

@code {
    private List<TodoItem> todo = new();
    private string? newTodoTitle;

    private void AddTodoItem()
    {
        if (!string.IsNullOrWhiteSpace(newTodoTitle))
        {
            todo.Add(new TodoItem { Title = newTodoTitle });
            newTodoTitle = string.Empty;
        }
    }
}
