@page "/"

<PageTitle>Todo</PageTitle>

<h1>Todo</h1>

<ul>
    @foreach (var item in todo)
    {
        <li>@item.Title</li>
    }
</ul>

<input placeholder="Add todo" />
<button>Add</button>

@code {
    private List<TodoItem> todo = new();
}
